table {
  border-collapse: collapse;
}
td, th {
  border: 1px solid #95c0e9;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #85b2cf;
}
td.mono {
    font-family: 'Courier New', Courier, monospace;
}

#codonkey {
    vertical-align: baseline;
    display:inline-block; 
    white-space: pre;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
    
    
}

#codondict {
    vertical-align: baseline;
    display:inline-block;
    white-space: pre;
    border: 2px solid rgb(174, 193, 226);
    padding: 4px;
    margin-top: 0;
    margin-bottom: 0;
    text-align:left;
    
}

#codonkey-container {
  font-family: arial;
  display:inline-block; 
  text-align: center;
   
   
}

#codondict-container {
    display:inline-block;
   
    
    
   
}
